{% extends "base.html" %}
{% block content %}
<div class="grid grid-cols-1 md:grid-cols-3 gap-6 w-[1000px] ml-[300px]">

    <!-- CARD -->
    <div class="space-y-3">
      <div class="relative rounded-xl overflow-hidden">
        <img src="https://picsum.photos/400/250?1" class="w-full h-52 object-cover">
        <span class="absolute bottom-2 right-2 bg-black/80 text-xs px-2 py-1 rounded">
          42:44
        </span>
      </div>

      <div class="flex gap-3">
        <img src="https://i.pravatar.cc/40?1" class="w-10 h-10 rounded-full">
        <div>
          <h3 class="font-semibold leading-snug">
            Hammani yoshligida shunday bo‘lgan 😅
          </h3>
          <p class="text-sm text-gray-400">
            Vincehauz
          </p>
          <p class="text-sm text-gray-400 flex items-center gap-2">
            <i class="fa-solid fa-eye"></i> 1,5 mln • 6 kun oldin
          </p>
        </div>
      </div>
    </div>

    <!-- CARD -->
    <div class="space-y-3">
      <div class="relative rounded-xl overflow-hidden">
        <img src="https://picsum.photos/400/250?2" class="w-full h-52 object-cover">
        <span class="absolute bottom-2 right-2 bg-black/80 text-xs px-2 py-1 rounded">
          26:02
        </span>
      </div>

      <div class="flex gap-3">
        <img src="https://i.pravatar.cc/40?2" class="w-10 h-10 rounded-full">
        <div>
          <h3 class="font-semibold">
            EMIN, JONY – Kamin (Lyrics)
          </h3>
          <p class="text-sm text-gray-400">
            Shanda Arguelles
          </p>
          <p class="text-sm text-gray-400 flex items-center gap-2">
            <i class="fa-solid fa-eye"></i> 2,5 mln • 3 oy oldin
          </p>
        </div>
      </div>
    </div>

    <!-- CARD -->
    <div class="space-y-3">
      <div class="relative rounded-xl overflow-hidden">
        <img src="https://picsum.photos/400/250?3" class="w-full h-52 object-cover">
        <span class="absolute bottom-2 right-2 bg-black/80 text-xs px-2 py-1 rounded">
          16:40
        </span>
      </div>

      <div class="flex gap-3">
        <img src="https://i.pravatar.cc/40?3" class="w-10 h-10 rounded-full">
        <div>
          <h3 class="font-semibold">
            SHELBI MAFIA KELDI 😱
          </h3>
          <p class="text-sm text-gray-400">
            CARDINAL
          </p>
          <p class="text-sm text-gray-400 flex items-center gap-2">
            <i class="fa-solid fa-eye"></i> 107 ming • 1 kun oldin
          </p>
        </div>
      </div>
    </div>


        <!-- CARD -->
    <div class="space-y-3">
      <div class="relative rounded-xl overflow-hidden">
        <img src="https://picsum.photos/400/250?1" class="w-full h-52 object-cover">
        <span class="absolute bottom-2 right-2 bg-black/80 text-xs px-2 py-1 rounded">
          42:44
        </span>
      </div>

      <div class="flex gap-3">
        <img src="https://i.pravatar.cc/40?1" class="w-10 h-10 rounded-full">
        <div>
          <h3 class="font-semibold leading-snug">
            Hammani yoshligida shunday bo‘lgan 😅
          </h3>
          <p class="text-sm text-gray-400">
            Vincehauz
          </p>
          <p class="text-sm text-gray-400 flex items-center gap-2">
            <i class="fa-solid fa-eye"></i> 1,5 mln • 6 kun oldin
          </p>
        </div>
      </div>
    </div>

    <!-- CARD -->
    <div class="space-y-3">
      <div class="relative rounded-xl overflow-hidden">
        <img src="https://picsum.photos/400/250?2" class="w-full h-52 object-cover">
        <span class="absolute bottom-2 right-2 bg-black/80 text-xs px-2 py-1 rounded">
          26:02
        </span>
      </div>

      <div class="flex gap-3">
        <img src="https://i.pravatar.cc/40?2" class="w-10 h-10 rounded-full">
        <div>
          <h3 class="font-semibold">
            EMIN, JONY – Kamin (Lyrics)
          </h3>
          <p class="text-sm text-gray-400">
            Shanda Arguelles
          </p>
          <p class="text-sm text-gray-400 flex items-center gap-2">
            <i class="fa-solid fa-eye"></i> 2,5 mln • 3 oy oldin
          </p>
        </div>
      </div>
    </div>

    <!-- CARD -->
    <div class="space-y-3">
      <div class="relative rounded-xl overflow-hidden">
        <img src="https://picsum.photos/400/250?3" class="w-full h-52 object-cover">
        <span class="absolute bottom-2 right-2 bg-black/80 text-xs px-2 py-1 rounded">
          16:40
        </span>
      </div>

      <div class="flex gap-3">
        <img src="https://i.pravatar.cc/40?3" class="w-10 h-10 rounded-full">
        <div>
          <h3 class="font-semibold">
            SHELBI MAFIA KELDI 😱
          </h3>
          <p class="text-sm text-gray-400">
            CARDINAL
          </p>
          <p class="text-sm text-gray-400 flex items-center gap-2">
            <i class="fa-solid fa-eye"></i> 107 ming • 1 kun oldin
          </p>
        </div>
      </div>
    </div>

  </div>
  
{% endblock %}