


{% extends "base.html" %}

{% load static  %}

{% block content %}


<body class="bg-white text-black">
    <div class="max-w-7xl mx-auto px-6 py-6 flex gap-10 w-[1000px] ml-[300px]">
    
        <!-- LEFT -->
        <div class="flex-1">
    
        <!-- Title -->
        <h1 class="text-3xl font-bold mb-4">Плейлисты</h1>
    
        <!-- Message -->
        <div class="text-center mt-20 space-y-4">
            <i class="fa-solid fa-playlist fa-3x text-gray-400"></i>
            <p class="text-gray-500">Ваши плейлисты будут отображаться здесь.</p>
        </div>
    
        </div>
    
    </div>
</body>

{% endblock %}
