<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 
<aside class="w-64 h-screen bg-white dark:bg-[#0f0f0f] text-black dark:text-white absolute top-[50px]
border-r border-gray-200 dark:border-[#303030] p-2 hidden md:block">

  <a href="{% url 'home' %}">
    <div class="space-y-1">
    <div class="flex items-center gap-4 px-3 py-2 rounded-lg bg-gray-200 dark:bg-[#272727] cursor-pointer">
      <i class="fa-solid fa-house"></i>
      <span>Главная</span>
    </div>

  </a>

    <a href="{% url 'qoida' %}">
    <div class="flex items-center gap-4 px-3 py-2 rounded-lg hover:bg-gray-200 dark:hover:bg-[#272727] cursor-pointer">
        <i class="fa-solid fa-bolt"></i>

      
      <span>Shorts</span>
    </div>
</a>
   <a href="{% url 'aloqa' %}">
     <div class="flex items-center gap-4 px-3 py-2 rounded-lg hover:bg-gray-200 dark:hover:bg-[#272727] cursor-pointer">
      <i class="fa-solid fa-square-play"></i>
      <span>Подписки</span>
    </div>
  </div>
   </a>

  <hr class="my-3 border-gray-300 dark:border-[#303030]">

  <div class="space-y-1">
    <p class="px-3 text-sm text-gray-500">Вы</p>
<a href="{% url 'istoria' %}">
  
    <div class="flex items-center gap-4 px-3 py-2 hover:bg-gray-200 dark:hover:bg-[#272727] rounded-lg cursor-pointer">
      <i class="fa-solid fa-clock-rotate-left"></i>
      <span>История</span>
    </div>
</a>
<a href="{% url 'bar' %}">
  
    <div class="flex items-center gap-4 px-3 py-2 hover:bg-gray-200 dark:hover:bg-[#272727] rounded-lg cursor-pointer">
      <i class="fa-solid fa-bars-staggered"></i>
      <span>Плейлисты</span>
    </div>
  </a>

    <div class="flex items-center gap-4 px-3 py-2 hover:bg-gray-200 dark:hover:bg-[#272727] rounded-lg cursor-pointer">
      <i class="fa-solid fa-clock"></i>
      <span>Смотреть позже</span>
    </div>

    <div class="flex items-center gap-4 px-3 py-2 hover:bg-gray-200 dark:hover:bg-[#272727] rounded-lg cursor-pointer">
      <i class="fa-solid fa-thumbs-up"></i>
      <span>Понравившиеся</span>
    </div>
  </div>

  <hr class="my-3 border-gray-300 dark:border-[#303030]">

  <div class="space-y-1">
    <p class="px-3 text-sm text-gray-500">Навигатор</p>

   <a href="{% url 'music' %}">
     <div class="flex items-center gap-4 px-3 py-2 hover:bg-gray-200 dark:hover:bg-[#272727] rounded-lg cursor-pointer">
      <i class="fa-solid fa-music"></i>
      <span>Музыка</span>
    </div>
   </a>

    <div class="flex items-center gap-4 px-3 py-2 hover:bg-gray-200 dark:hover:bg-[#272727] rounded-lg cursor-pointer">
      <i class="fa-solid fa-podcast"></i>
      <span>Трансляции</span>
    </div>

 <a href="{% url 'game' %}">
     <div class="flex items-center gap-4 px-3 py-2 hover:bg-gray-200 dark:hover:bg-[#272727] rounded-lg cursor-pointer">
      <i class="fa-solid fa-gamepad"></i>
      <span>Видеоигры</span>
    </div>  
 </a>

    <div class="flex items-center gap-4 px-3 py-2 hover:bg-gray-200 dark:hover:bg-[#272727] rounded-lg cursor-pointer">
      <i class="fa-solid fa-chevron-down"></i>
      <span>Развернуть</span>
    </div>
  </div>

</aside>

</body>
</html>