{% extends "base.html" %}

{% load static  %}

{% block content %}


<div>
    <h1 class="text-3xl font-bold mb-4 w-[1000px] ml-[300px]">Музыка</h1>
    <div class="w-[1000px] h-[300px]  bg-[#000] ml-[300px] p-[20px] rounded-[20px] flex items-center">
        <h1 class="text-[30px] text-[#fff] font-bold mt-[200px]">Музыка</h1>
        <i class="fa-solid fa-music text-[70px] text-[red] ml-[200px]"></i>
        <i class="fa-solid fa-compact-disc text-[70px] text-[#fff] ml-[200px]"></i>
        
    </div>
</div>



{% endblock %}
